# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# Build settings
markdown: kramdown
plugins:
  - jekyll-email-protect

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# timezone: Asia/Shanghai

title: "GIECID"
description: "Grupo de Investigación en Educación en Contextos Indígenas y Diversos"
url: "https://giecid.netlify.app/"
baseurl: ""

include:
  - admin

# Collections
collections:
  publications:
    output: true
    permalink: /publications/:name

  members:
    output: true
    permalink: /members/:path/

  news:
    output: true
    permalink: /news/:name

# Exclude from build
exclude:
  - README.md
  - Gemfile.lock

defaults:
  - scope:
      path: ""
      type: "members" # Aplica a toda la colección 'members'
    values:
      layout: "member" # Usa el archivo _layouts/member.html

  - scope:
      path: ""
      type: "publications"
    values:
      layout: "publication"

  - scope:
      path: ""
      type: "news"
    values:
      layout: "news"
